.list-img .owl-dots{
	display: none;
}
.list-img{
	position: relative;
	
}
.list-img .owl-stage-outer{
	width: 90%;
	margin: 0 auto;
}
.list-img .owl-nav {
	position: absolute;
	    top: 4%;
	height: 0px;
	width: 100%;
}
.list-img .owl-nav button span{
	    font-size: 27px;
}
.list-img .owl-nav button{
	outline: none;
}
.list-img .owl-nav button:hover{
	
	color: #869791 !important;
    background: #FFF !important;
}
.list-img .owl-nav .owl-prev{
	float: left;
}
.list-img .owl-nav .owl-next{
	float: right;
}